public/default.html
<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций</title>
  <link href="css/style.css" rel="stylesheet"/>
  <body>
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 header-menu-bars"><i class="fa fa-2x fa-bars"></i></div>
          <div class="col-xs-10 text-right"><a href="index.html"><img src="img/logo-pink.svg" class="logo-header"/></a></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row footer inverted">
        <div class="col-xs-12 col-sm-4"><a href="index.html"><img src="img/logo-white.svg" class="logo-footer"/></a></div>
        <div class="col-xs-12 col-sm-4">
          <ul class="list-unstyled">
            <li><a href="index.html">Главная</a></li>
            <li><a href="project-list.html">Портфолио</a></li>
            <li><a href="service-list.html">Сервисы</a></li>
            <li><a href="?">Команда</a></li>
            <li><a href="?">Клиенты</a></li>
            <li><a href="?">Контакты</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>
             
            8-880-2000-300<br/><a href="mailto:welcome@double-up.ru">welcome@double-up.ru</a>
          </p>
          <p><a href="http://facebook.com/"><i class="fa fa-2x fa-facebook-official"></i></a></p>
        </div>
      </div>
    </div>
  </body>
</head>

src/jade/default.jade
include mixins.jade

block init

doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций
  link(href='css/style.css', rel='stylesheet')
  body(class=bodyclass)
    .header
      .container-fluid
        .row
          .col-xs-2.header-menu-bars
            i.fa.fa-2x.fa-bars
          .col-xs-10.text-right
            a(href="index.html")
              img(src="img/logo-pink.svg").logo-header
    block content
    .container-fluid
      .row.footer.inverted
        .col-xs-12.col-sm-4
          a(href="index.html")
            img(src="img/logo-white.svg").logo-footer
        .col-xs-12.col-sm-4
          ul.list-unstyled
            li
              a(href="index.html") Главная
            li
              a(href="project-list.html") Портфолио
            li
              a(href="service-list.html") Сервисы
            li
              a(href="?") Команда
            li
              a(href="?") Клиенты
            li
              a(href="?") Контакты
        .col-xs-12.col-sm-4
          p 
            | 8-880-2000-300
            br
            a(href="mailto:welcome@double-up.ru") welcome@double-up.ru
          p
            a(href="http://facebook.com/")
              i.fa.fa-2x.fa-facebook-official
