src/jade/elements.jade
extends default.jade

block content
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1
        h1 H1 заголовок первого уровня
        p Абзац текста. В рамках запуска нового аромата Lady Million была разработка программы 360 для поддержки бренда в торговой сети IDB. Акция включала в себя клиентские дни в ведущих магазинах сети со скидочными программами для покупки ароматов и интерактивными конкурсами для посетителей магазинов в счастливые дни.
        h2 H2 заголовок второго уровня
        p Еще абзац. В сети интернет проводился online конкурс в instagram'e, а также программа распределения купонов с приятными подарками при помощи баннерной контентной рекламы. Дополнительно в ключевых магазинах был проведен спреинг аромата, чтобы потребители могли услышать его потрясающий запах и сделать правильный выбор.
        p.featured Крупный текст для выделения текста в журнальном стиле.
        p Абзац текста. В рамках запуска нового аромата Lady Million была разработка программы 360 для поддержки бренда в торговой сети IDB. Акция включала в себя клиентские дни в ведущих магазинах сети со скидочными программами для покупки ароматов и интерактивными конкурсами для посетителей магазинов в счастливые дни.
        p
          a(href="?") Ссылка обычная
        p
          a.hover(href="?") Ссылка наведенная
        p
          a.visited(href="?") Ссылка посещенная
        h3 Img with border on top
        .border-cornered
          img(src="http://placehold.it/1600x900").img-responsive.mgst
  .fullw
    .mgst
      img(src="http://placehold.it/1600x900").img-responsive
    .mgst
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/VWf8CXwPoqI?showinfo=0&color=white&modestbranding=1&theme=light&color=white&rel=0&fs=1&rel=0", frameborder='0', allowfullscreen)

public/elements.html
<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций</title>
  <link href="css/style.css" rel="stylesheet"/>
  <body>
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 header-menu-bars"><i class="fa fa-2x fa-bars"></i></div>
          <div class="col-xs-10 text-right"><a href="index.html"><img src="img/logo-pink.svg" class="logo-header"/></a></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h1>H1 заголовок первого уровня</h1>
          <p>Абзац текста. В рамках запуска нового аромата Lady Million была разработка программы 360 для поддержки бренда в торговой сети IDB. Акция включала в себя клиентские дни в ведущих магазинах сети со скидочными программами для покупки ароматов и интерактивными конкурсами для посетителей магазинов в счастливые дни.</p>
          <h2>H2 заголовок второго уровня</h2>
          <p>Еще абзац. В сети интернет проводился online конкурс в instagram'e, а также программа распределения купонов с приятными подарками при помощи баннерной контентной рекламы. Дополнительно в ключевых магазинах был проведен спреинг аромата, чтобы потребители могли услышать его потрясающий запах и сделать правильный выбор.</p>
          <p class="featured">Крупный текст для выделения текста в журнальном стиле.</p>
          <p>Абзац текста. В рамках запуска нового аромата Lady Million была разработка программы 360 для поддержки бренда в торговой сети IDB. Акция включала в себя клиентские дни в ведущих магазинах сети со скидочными программами для покупки ароматов и интерактивными конкурсами для посетителей магазинов в счастливые дни.</p>
          <p><a href="?">Ссылка обычная</a></p>
          <p><a href="?" class="hover">Ссылка наведенная</a></p>
          <p><a href="?" class="visited">Ссылка посещенная</a></p>
          <h3>Img with border on top</h3>
          <div class="border-cornered"><img src="http://placehold.it/1600x900" class="img-responsive mgst"/></div>
        </div>
      </div>
    </div>
    <div class="fullw">
      <div class="mgst"><img src="http://placehold.it/1600x900" class="img-responsive"/></div>
      <div class="mgst">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/VWf8CXwPoqI?showinfo=0&amp;color=white&amp;modestbranding=1&amp;theme=light&amp;color=white&amp;rel=0&amp;fs=1&amp;rel=0" frameborder="0" allowfullscreen="allowfullscreen" class="embed-responsive-item"></iframe>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row footer inverted">
        <div class="col-xs-12 col-sm-4"><a href="index.html"><img src="img/logo-white.svg" class="logo-footer"/></a></div>
        <div class="col-xs-12 col-sm-4">
          <ul class="list-unstyled">
            <li><a href="index.html">Главная</a></li>
            <li><a href="project-list.html">Портфолио</a></li>
            <li><a href="service-list.html">Сервисы</a></li>
            <li><a href="?">Команда</a></li>
            <li><a href="?">Клиенты</a></li>
            <li><a href="?">Контакты</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>
             
            8-880-2000-300<br/><a href="mailto:welcome@double-up.ru">welcome@double-up.ru</a>
          </p>
          <p><a href="http://facebook.com/"><i class="fa fa-2x fa-facebook-official"></i></a></p>
        </div>
      </div>
    </div>
  </body>
</head>
