public/index-temp.html
<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций</title>
  <link href="css/style.css" rel="stylesheet"/>
  <body class="nopadding">
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 text-right"><img src="img/logo-pink.svg" class="logo-header"/></div>
        </div>
      </div>
    </div>
    <div class="fullw promo100 border-cornered">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <h1>Агентство <br/>интегрированных <br/>маркетинговых <br/>коммуникаций</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p>DOUBLE UP – это умение грамотно спланировать и безупречно реализовать коммуникационную кампанию любой сложности, четко донеся заложенную креативную идею и маркетинговые сообщения, используя ресурсы максимально эффективно.</p>
          <p class="featured"> <i>Четкость. Уверенность. Предсказуемость. </i>Торт.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row footer inverted">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p> 
            <nobr>+7 (495) 641 12 32, </nobr>
            <nobr>+7 (916) 693 86 26</nobr><br/><a href="mailto:welcome@double-up.ru">welcome@double-up.ru</a><br/>115191, Москва, 4й Рощинский проезд, 19, строение 2
          </p>
        </div>
      </div>
    </div>
  </body>
</head>

src/jade/index-temp.jade
extends temp.jade

block append init
  - var bodyclass = "nopadding"

block content
  .fullw.promo100.border-cornered
    .container-fluid
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
          h1
            | Агентство 
            br
            | интегрированных 
            br
            | маркетинговых 
            br
            | коммуникаций
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        p DOUBLE UP – это умение грамотно спланировать и безупречно реализовать коммуникационную кампанию любой сложности, четко донеся заложенную креативную идею и маркетинговые сообщения, используя ресурсы максимально эффективно.
        p.featured 
          i Четкость. Уверенность. Предсказуемость. 
          | Торт.
