public/index.html
<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций</title>
  <link href="css/style.css" rel="stylesheet"/>
  <body class="nopadding">
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 header-menu-bars"><i class="fa fa-2x fa-bars"></i></div>
          <div class="col-xs-10 text-right"><a href="index.html"><img src="img/logo-pink.svg" class="logo-header"/></a></div>
        </div>
      </div>
    </div>
    <div class="fullw promo100 border-cornered">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <h1>Агентство <br/>интегрированных <br/>маркетинговых <br/>коммуникаций</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <p>DOUBLE UP – это умение грамотно спланировать и безупречно реализовать коммуникационную кампанию любой сложности, четко донеся заложенную креативную идею и маркетинговые сообщения, используя ресурсы максимально эффективно.</p>
          <h2>Портфолио</h2>
        </div>
      </div>
      <div class="row"><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="img/p10.jpg" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Lady Millionaire 2015 in Moscow Square</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="img/p01.jpg" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Парфюмерный тренинг Carolina Herrera</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p class="featured"> <i>Четкость. Уверенность. Предсказуемость. </i>Торт.</p>
          <h2>Сервисы</h2>
        </div>
      </div>
      <div class="row service-item-1">
        <div class="col-xs-12 col-sm-6">
          <div class="card"><img src="img/s01.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4">
          <h3>Brand development</h3>
          <div class="card-title">
            <p>Создание уверенности в будущем вашего бренда. Опережающее развитие. Воплощение мечт в реальность.</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
      </div>
      <div class="row service-item-2">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <div class="card"><img src="img/s02.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-pull-6">
          <h3>Promo</h3>
          <div class="card-title">
            <p>Фантастические промо-события и промо-материалы, а также другие объекты из мира промо-приставок и суффиксов</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p class="featured">Качественные маркетинговые коммуникации — это в первую очередь сильный менеджмент</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row footer inverted">
        <div class="col-xs-12 col-sm-4"><a href="index.html"><img src="img/logo-white.svg" class="logo-footer"/></a></div>
        <div class="col-xs-12 col-sm-4">
          <ul class="list-unstyled">
            <li><a href="index.html">Главная</a></li>
            <li><a href="project-list.html">Портфолио</a></li>
            <li><a href="service-list.html">Сервисы</a></li>
            <li><a href="?">Команда</a></li>
            <li><a href="?">Клиенты</a></li>
            <li><a href="?">Контакты</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>
             
            8-880-2000-300<br/><a href="mailto:welcome@double-up.ru">welcome@double-up.ru</a>
          </p>
          <p><a href="http://facebook.com/"><i class="fa fa-2x fa-facebook-official"></i></a></p>
        </div>
      </div>
    </div>
  </body>
</head>

src/jade/index.jade
extends default.jade

block append init
  - var bodyclass = "nopadding"

block content
  .fullw.promo100.border-cornered
    .container-fluid
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
          h1
            | Агентство 
            br
            | интегрированных 
            br
            | маркетинговых 
            br
            | коммуникаций
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1
        p DOUBLE UP – это умение грамотно спланировать и безупречно реализовать коммуникационную кампанию любой сложности, четко донеся заложенную креативную идею и маркетинговые сообщения, используя ресурсы максимально эффективно.
        h2 Портфолио
    .row
      +portfolio-item("img/p10.jpg", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("img/p01.jpg", "Парфюмерный тренинг Carolina Herrera")
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        p.featured 
          i Четкость. Уверенность. Предсказуемость. 
          | Торт.
        h2 Сервисы
    .row.service-item-1
      +service-item("img/s01.jpg", "Brand development", 
        "Создание уверенности в будущем вашего бренда. Опережающее развитие. Воплощение мечт в реальность.")
    .row.service-item-2
      +service-item-even("img/s02.jpg", "Promo", "Фантастические промо-события и промо-материалы, а также другие объекты из мира промо-приставок и суффиксов")
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        p.featured Качественные маркетинговые коммуникации — это в первую очередь сильный менеджмент
