public/project-list.html
<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций</title>
  <link href="css/style.css" rel="stylesheet"/>
  <body>
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 header-menu-bars"><i class="fa fa-2x fa-bars"></i></div>
          <div class="col-xs-10 text-right"><a href="index.html"><img src="img/logo-pink.svg" class="logo-header"/></a></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>Портфолио</h1>
        </div>
      </div>
      <div class="row"><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="http://placehold.it/650x150" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Lady Millionaire 2015 in Moscow Square</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="http://placehold.it/650x150" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Парфюмерный тренинг Carolina Herrera</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
      </div>
      <div class="row"><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="http://placehold.it/650x150" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>TEFAL brand zone in MEGA</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="http://placehold.it/650x150" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>GFD Открой свою коктейльную столицу!</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
      </div>
      <div class="row"><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="http://placehold.it/650x150" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Lady Millionaire 2015 in Moscow Square</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="http://placehold.it/650x150" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Парфюмерный тренинг Carolina Herrera</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
      </div>
      <div class="row"><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="http://placehold.it/650x150" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>TEFAL brand zone in MEGA</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="http://placehold.it/650x150" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>GFD Открой свою коктейльную столицу!</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
        <div class="col-xs-12">
          <p><a href="?">Дальше</a></p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row footer inverted">
        <div class="col-xs-12 col-sm-4"><a href="index.html"><img src="img/logo-white.svg" class="logo-footer"/></a></div>
        <div class="col-xs-12 col-sm-4">
          <ul class="list-unstyled">
            <li><a href="index.html">Главная</a></li>
            <li><a href="project-list.html">Портфолио</a></li>
            <li><a href="service-list.html">Сервисы</a></li>
            <li><a href="?">Команда</a></li>
            <li><a href="?">Клиенты</a></li>
            <li><a href="?">Контакты</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>
             
            8-880-2000-300<br/><a href="mailto:welcome@double-up.ru">welcome@double-up.ru</a>
          </p>
          <p><a href="http://facebook.com/"><i class="fa fa-2x fa-facebook-official"></i></a></p>
        </div>
      </div>
    </div>
  </body>
</head>

src/jade/project-list.jade
extends default.jade

block content
  .container-fluid
    .row
      .col-xs-12
        h1 Портфолио
    .row
      +portfolio-item("http://placehold.it/650x150", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("http://placehold.it/650x150", "Парфюмерный тренинг Carolina Herrera")
    .row
      +portfolio-item("http://placehold.it/650x150", "TEFAL brand zone in MEGA")
      +portfolio-item("http://placehold.it/650x150", "GFD Открой свою коктейльную столицу!")
    .row
      +portfolio-item("http://placehold.it/650x150", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("http://placehold.it/650x150", "Парфюмерный тренинг Carolina Herrera")
    .row
      +portfolio-item("http://placehold.it/650x150", "TEFAL brand zone in MEGA")
      +portfolio-item("http://placehold.it/650x150", "GFD Открой свою коктейльную столицу!")
      .col-xs-12
        p
          a(href="?") Дальше
