src/jade/project.jade
extends default.jade

block content
  .container-fluid
    .row
      .col-xs-12
        h1 Paca Rabanne Lady Million
  +project-desc("Клиент.", "Paca Rabanne.")
  +project-desc("Выполнено.", "Весна '15.")
  +project-desc("Цель.", "Выход бренда на рынок и построение лояльности.")
  +project-img("img/p01.jpg")
  +project-desc("Описание проекта.", "В рамках запуска нового аромата Lady Million были разработаны программы 360 для поддержки бренда в торговой сети IDB. Акция включала в себя клиентские дни в ведущих магазинах сети со скидочными программами для покупки ароматов и интерактивными конкурсами для посетителей магазинов в счастливые дни. ")
  +project-img("img/p02.jpg")
  +project-desc("Внимание к деталям.", "Внимание к деталям:  В организации было задействовано 24 участника, начиная от грузчиков и заканчивая специально отобранными официантами модельной внешности. Строгое соблюдение сроков позволило провести мероприятие на самом высоком уровне.")
  +project-img("img/p03.jpg")
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        .project-infographics
          .project-infographics-title Количество лайков в Инстаграмме
          .project-infographics-number 4000
          .project-infographics-title Количество участников акции
          .project-infographics-number 1000
          .project-infographics-title Использовано литров парфюма
          .project-infographics-number 300
  +project-img("img/p04.jpg")
  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
        p Сервисы в этом проекте:
        ul
          li Branding
          li Event
          li BTL
  +project-img("img/p05.jpg")
  .container-fluid
    .row
      .col-xs-12
        h2 Еще для Paco Rabbane мы выполнили 5 проектов:
    .row
      +portfolio-item("img/p10.jpg", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("img/p11.jpg", "Парфюмерный тренинг Carolina Herrera")
    .row
      +portfolio-item("img/p12.jpg", "TEFAL brand zone in MEGA")
      +portfolio-item("img/p14.jpg", "GFD Открой свою коктейльную столицу!")
    .row
      +portfolio-item("img/p15.jpg", "Lady Millionaire 2015 in Moscow Square")
      +portfolio-item("img/p16.jpg", "Парфюмерный тренинг Carolina Herrera")
    .row
      +portfolio-item("img/p16.jpg", "TEFAL brand zone in MEGA")

public/project.html
<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций</title>
  <link href="css/style.css" rel="stylesheet"/>
  <body>
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 header-menu-bars"><i class="fa fa-2x fa-bars"></i></div>
          <div class="col-xs-10 text-right"><a href="index.html"><img src="img/logo-pink.svg" class="logo-header"/></a></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>Paca Rabanne Lady Million</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p class="project-desc"><strong>Клиент. </strong>Paca Rabanne.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p class="project-desc"><strong>Выполнено. </strong>Весна '15.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p class="project-desc"><strong>Цель. </strong>Выход бренда на рынок и построение лояльности.</p>
        </div>
      </div>
    </div>
    <div class="fullw">
      <div class="mgst"><img src="img/p01.jpg" class="img-responsive"/></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p class="project-desc"><strong>Описание проекта. </strong>В рамках запуска нового аромата Lady Million были разработаны программы 360 для поддержки бренда в торговой сети IDB. Акция включала в себя клиентские дни в ведущих магазинах сети со скидочными программами для покупки ароматов и интерактивными конкурсами для посетителей магазинов в счастливые дни. </p>
        </div>
      </div>
    </div>
    <div class="fullw">
      <div class="mgst"><img src="img/p02.jpg" class="img-responsive"/></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p class="project-desc"><strong>Внимание к деталям. </strong>Внимание к деталям:  В организации было задействовано 24 участника, начиная от грузчиков и заканчивая специально отобранными официантами модельной внешности. Строгое соблюдение сроков позволило провести мероприятие на самом высоком уровне.</p>
        </div>
      </div>
    </div>
    <div class="fullw">
      <div class="mgst"><img src="img/p03.jpg" class="img-responsive"/></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <div class="project-infographics">
            <div class="project-infographics-title">Количество лайков в Инстаграмме</div>
            <div class="project-infographics-number">4000</div>
            <div class="project-infographics-title">Количество участников акции</div>
            <div class="project-infographics-number">1000</div>
            <div class="project-infographics-title">Использовано литров парфюма</div>
            <div class="project-infographics-number">300</div>
          </div>
        </div>
      </div>
    </div>
    <div class="fullw">
      <div class="mgst"><img src="img/p04.jpg" class="img-responsive"/></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p>Сервисы в этом проекте:</p>
          <ul>
            <li>Branding</li>
            <li>Event</li>
            <li>BTL</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="fullw">
      <div class="mgst"><img src="img/p05.jpg" class="img-responsive"/></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h2>Еще для Paco Rabbane мы выполнили 5 проектов:</h2>
        </div>
      </div>
      <div class="row"><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="img/p10.jpg" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Lady Millionaire 2015 in Moscow Square</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="img/p11.jpg" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Парфюмерный тренинг Carolina Herrera</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
      </div>
      <div class="row"><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="img/p12.jpg" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>TEFAL brand zone in MEGA</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="img/p14.jpg" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>GFD Открой свою коктейльную столицу!</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
      </div>
      <div class="row"><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="img/p15.jpg" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Lady Millionaire 2015 in Moscow Square</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="img/p16.jpg" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>Парфюмерный тренинг Carolina Herrera</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
      </div>
      <div class="row"><a href="project.html">
          <div class="col-xs-12 col-sm-6">
            <div class="card">   <img src="img/p16.jpg" class="img-responsive"/>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="card-title">
                    <p>TEFAL brand zone in MEGA</p>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row footer inverted">
        <div class="col-xs-12 col-sm-4"><a href="index.html"><img src="img/logo-white.svg" class="logo-footer"/></a></div>
        <div class="col-xs-12 col-sm-4">
          <ul class="list-unstyled">
            <li><a href="index.html">Главная</a></li>
            <li><a href="project-list.html">Портфолио</a></li>
            <li><a href="service-list.html">Сервисы</a></li>
            <li><a href="?">Команда</a></li>
            <li><a href="?">Клиенты</a></li>
            <li><a href="?">Контакты</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>
             
            8-880-2000-300<br/><a href="mailto:welcome@double-up.ru">welcome@double-up.ru</a>
          </p>
          <p><a href="http://facebook.com/"><i class="fa fa-2x fa-facebook-official"></i></a></p>
        </div>
      </div>
    </div>
  </body>
</head>
