src/jade/service-list.jade
extends default.jade

block content
  .container-fluid
    .row
      .col-xs-12
        h1 Сервисы
        p Мы специализируемся на интегрированных маркетинговых кампаниях. Но проекты в области интегрированных коммуникации состоят из большого количества разноплановых задач, которые решают специализированными сервисами.
    .row
      +service-item("img/s01.jpg", "Brand development", 
        "Создание уверенности в будущем вашего бренда. Опережающее развитие. Воплощение мечт в реальность.")
      +service-item("img/s02.jpg", "Promo", "Фантастические промо-события и промо-материалы, а также другие объекты из мира промо-приставок и суффиксов")
    .row
      +service-item("img/s03.jpg", "Event", "Имиджевые мероприятия, конференции, корпоративные мероприятия, официальные открытия, представленность бренда на событиях, презентации нового продукта, тест-драйвы, церемонии, Team-building")
      +service-item("img/s04.jpg", "MICE", "Что-то определенно похожее на мультфильмы Том и Джери. Но наверняка гораздо серьезнее. Ждем информации от Даши")
    .row
      +service-item("img/s01.jpg", "Digital", "Без создания цифровых артефактов не обходится ни одна грамотная промо-кампания в современном мире. Мы их тоже делаем.")
      +service-item("img/s02.jpg", "PR", "Что про вас будут говорить зависит от того, закажете ли вы PR в нашем агентстве")
    .row
      +service-item("img/s03.jpg", "Creative and Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.")
      +service-item("img/s04.jpg", "Print Production Construction", "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,")

public/service-list.html
<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций</title>
  <link href="css/style.css" rel="stylesheet"/>
  <body>
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 header-menu-bars"><i class="fa fa-2x fa-bars"></i></div>
          <div class="col-xs-10 text-right"><a href="index.html"><img src="img/logo-pink.svg" class="logo-header"/></a></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>Сервисы</h1>
          <p>Мы специализируемся на интегрированных маркетинговых кампаниях. Но проекты в области интегрированных коммуникации состоят из большого количества разноплановых задач, которые решают специализированными сервисами.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="card"><img src="img/s01.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4">
          <h3>Brand development</h3>
          <div class="card-title">
            <p>Создание уверенности в будущем вашего бренда. Опережающее развитие. Воплощение мечт в реальность.</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
        <div class="col-xs-12 col-sm-6">
          <div class="card"><img src="img/s02.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4">
          <h3>Promo</h3>
          <div class="card-title">
            <p>Фантастические промо-события и промо-материалы, а также другие объекты из мира промо-приставок и суффиксов</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="card"><img src="img/s03.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4">
          <h3>Event</h3>
          <div class="card-title">
            <p>Имиджевые мероприятия, конференции, корпоративные мероприятия, официальные открытия, представленность бренда на событиях, презентации нового продукта, тест-драйвы, церемонии, Team-building</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
        <div class="col-xs-12 col-sm-6">
          <div class="card"><img src="img/s04.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4">
          <h3>MICE</h3>
          <div class="card-title">
            <p>Что-то определенно похожее на мультфильмы Том и Джери. Но наверняка гораздо серьезнее. Ждем информации от Даши</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="card"><img src="img/s01.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4">
          <h3>Digital</h3>
          <div class="card-title">
            <p>Без создания цифровых артефактов не обходится ни одна грамотная промо-кампания в современном мире. Мы их тоже делаем.</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
        <div class="col-xs-12 col-sm-6">
          <div class="card"><img src="img/s02.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4">
          <h3>PR</h3>
          <div class="card-title">
            <p>Что про вас будут говорить зависит от того, закажете ли вы PR в нашем агентстве</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="card"><img src="img/s03.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4">
          <h3>Creative and Design</h3>
          <div class="card-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
        <div class="col-xs-12 col-sm-6">
          <div class="card"><img src="img/s04.jpg" class="img-responsive"/></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4">
          <h3>Print Production Construction</h3>
          <div class="card-title">
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,</p>
          </div>
        </div>
        <div class="clearfix sm-visible-block"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row footer inverted">
        <div class="col-xs-12 col-sm-4"><a href="index.html"><img src="img/logo-white.svg" class="logo-footer"/></a></div>
        <div class="col-xs-12 col-sm-4">
          <ul class="list-unstyled">
            <li><a href="index.html">Главная</a></li>
            <li><a href="project-list.html">Портфолио</a></li>
            <li><a href="service-list.html">Сервисы</a></li>
            <li><a href="?">Команда</a></li>
            <li><a href="?">Клиенты</a></li>
            <li><a href="?">Контакты</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>
             
            8-880-2000-300<br/><a href="mailto:welcome@double-up.ru">welcome@double-up.ru</a>
          </p>
          <p><a href="http://facebook.com/"><i class="fa fa-2x fa-facebook-official"></i></a></p>
        </div>
      </div>
    </div>
  </body>
</head>
