public/temp.html
<!DOCTYPE html(lang='en')>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций</title>
  <link href="css/style.css" rel="stylesheet"/>
  <body>
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 text-right"><img src="img/logo-pink.svg" class="logo-header"/></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row footer inverted">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <p> 
            <nobr>+7 (495) 641 12 32, </nobr>
            <nobr>+7 (916) 693 86 26</nobr><br/><a href="mailto:welcome@double-up.ru">welcome@double-up.ru</a><br/>115191, Москва, 4й Рощинский проезд, 19, строение 2
          </p>
        </div>
      </div>
    </div>
  </body>
</head>

src/jade/temp.jade
include mixins.jade

block init

doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title DOUBLE UP | Агентство интегрированных маркетинговых коммуникаций
  link(href='css/style.css', rel='stylesheet')
  body(class=bodyclass)
    .header
      .container-fluid
        .row
          .col-xs-12.text-right
            img(src="img/logo-pink.svg").logo-header
    block content
    .container-fluid
      .row.footer.inverted
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
          p 
            nobr +7 (495) 641 12 32, 
            nobr +7 (916) 693 86 26
            br
            a(href="mailto:welcome@double-up.ru") welcome@double-up.ru
            br
            | 115191, Москва, 4й Рощинский проезд, 19, строение 2
